POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=cuidarteplus
JWT_SECRET=
MAX_UPLOAD_SIZE_BYTES=10485760
PORT_POSTGRES=15442
PORT_BACKEND=4444
PORT_FRONTEND=3333
COMPOSE_PROJECT_NAME=cuidarteplus-ev